<html>
    <head>
        <title>Notas</title>
    </head>
    <body>
    <h1>Notas</h1>
    <form method="GET" action="/notas">
        <label for="id_prioridad">Prioridad:</label>
        <select id="id_prioridad" name="prioridad">
                <option value="todas">Todas</option>
                <option value="alta">Alta</option>
                <option value="normal">Normal</option>
                <option value="baja">Baja</option>
        </select>
        <input type="submit" value="Filtrar">
    </form>
    {% for nota in notas %}
        {% if get_prioridad and get_prioridad != "todas" %}
            {% if nota.prioridad == get_prioridad %}
                <fieldset>
                    <legend>{{ nota.prioridad }} - {{ nota.titulo }}</legend>
                    {{ nota.contenido }} <br>
                </fieldset>
            {% endif %}
        {% else %}
            <fieldset>
                <legend>{{ nota.prioridad }} - {{ nota.titulo }}</legend>
                {{ nota.contenido }} <br>
            </fieldset>
        {% endif %}
    {% endfor %}
    <form method="POST" action="/anadir">
        {% csrf_token %}
        <label for="id_prioridad">Prioridad:</label>
        <select id="id_prioridad" name="name_prioridad">
                <option value="alta">Alta</option>
                <option value="normal">Normal</option>
                <option value="baja">Baja</option>
        </select>
        <br>
        <input type="text" name="nombre_titulo" placeholder="titulo" size="27"><br>
        <textarea name="name_nota" id="id_new_item" cols="40" rows="5" placeholder="Escribe tu nota aquí"></textarea>
        <br>
        <input type="submit" value="guardar">
    </form>
    </body>
</html>
