<html>
    <head>
        <title>Notas</title>
    </head>
    <body>
        <h1>Notas</h1>
        <form method="POST" action="/lists/anadir">
            <label for="id_prioridad">Prioridad:</label>
            <select id="id_prioridad" name="name_priodidad">
                <option value="alta">Alta</option>
                <option value="normal">Normal</option>
                <option value="baja">Baja</option>
            </select>
            <br>
            <textarea name="item_text" id="id_new_item" cols="40" rows="5" placeholder="Escribe tu nota aquí"></textarea>
            <br>
            <input type="submit" value="guardar">
            {% csrf_token %}
        </form>
    </body>
</html>
